/* GENERAL */

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto sans', sans-serif;
}

body {
    background-color: #eceae7;
    display: flex;
    justify-content: center;
}

.container {
    width: 1140px;
    background-color: white;
    box-shadow: 1px 1px 10px #cccccc,
                -1px -1px 10px #cccccc;
    position: relative;
}

.container2 {
    padding: 35px 72px;
}

h3 {
    font-size: 28px;
    font-weight: 400;
    color: #555555;
    line-height: 35px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #4a6da7;
}

li {
    list-style-type: none;
}

.bouton-general {
    color: white;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: #4a6da7;
    padding: 6px;
    font-size: 20px;
}
.bouton-general:hover {
    background-color: #3a5684;
}

/* HEADER */

#logo {
    position: absolute;
    top: 0;
    left: 0;
}

#header1 {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: white;
}

#header1 a {
    margin: 0 5px; 
}

#header1 a:hover {
    background-color: #dee7f1;
}

#header1 h1 {
    color: #666666;
    font-size: 23px;
    margin-left: 103px;
    font-weight: 200;
    width: 50%;
}

#rechercher {
    background-color: white;
    display: flex;
    align-items: center;
    border: solid 1px rgba(0,0,0,0.1);
    margin-left: 10px;
}

#rechercher input {
    border: none;
    height: 34px;
    width: 240px; 
    padding-left: 10px;
    font-size: 14px;;
}

#rechercher span {
    height: 34px;
    border-left: 1px solid rgba(0,0,0,0.1);
    padding: 0 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#droite {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-right: 10px;
    font-size: 85.7%;
}

.lien {
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 5px 2px;
}
.lien div {
    margin: 0 4px;
    line-height: 10px;
}

header nav ul {
    display: flex;
    align-items: center;
    font-size: 87.5%;
    color: white;
    background-color: #373433;
    height: 44px;
    padding-left: 103px;
}

header nav ul li {
    display: flex;
    align-items: center;
    margin-right: 25px;
    cursor: pointer;
    height: 100%;
    padding: 0 9px;
    line-height: 15px;
}

li span img {
    margin-right: 8px;
}

li:hover {
    background-color: black;
}

.icon-nav {
    color: white;
}

/* SECTION 1 */

#section1-background {
    background-image: url(https://assetsnffrgf-a.akamaihd.net/assets/m/502000107/univ/art/502000107_univ_pnr_lg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
    width: 100%;
}

#section1-content {
    width: 65%;
    margin-left: 50px;
    /* margin: -200px 50px; */
    color: white;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

#section1-content h2, #section1-content p{
    margin: 10px 0;
    text-shadow: 1px 1px 1px #333;
}

#section1-content h2 {
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 10px;
}

#section1-content p {
    font-weight: 100px;
    font-size: 20px;
}
#section1-content a {
    text-align: center;
    max-width: 185px;
    margin: 24px 0;
}

#section1-content-background {
    background: linear-gradient(to bottom, rgba(51,51,51,0) 0, #333 175px);
    margin-top: -200px;
}

/* SECTION 2 */

#cartes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

#cartes .carte a img {
    height: 159px;
    width: auto;
    display: block;
    margin-bottom: 10px;
}

#cartes .carte a {
    font-size: 19px;
    font-weight: 400;
    margin: 0 5px;
}
#cartes .carte a:hover {
    text-decoration: underline
}

#bible-nouveautes {
    display: flex;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 35px;
}

#bible {
    display: flex;
    padding-right: 35px;
    width: 50%;
    border-right: 1px solid #d4d4d4;
}

#bible img {
    height: 135px;
    width: auto;
}

#bible-content {
    padding-left: 18px;
}

#bible-content h4 {
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: 400;
    color: #4a6da7;
}

#bible-content p {
    font-size: 16px;
    line-height: 24px;
    color: #222222;
}

#bible-content a:hover{
    text-decoration: underline;
}

#nouveautes {
    padding-left: 35px;
    width: 50%;
}

#nouveautes h4{
    font-size: 23px;
    line-height: 29px;
    font-weight: 400;
    color: #858585;
    margin-bottom: 29px;
}

#nouveautes img {
    padding-left: 10px;
}
#nouveautes a {
    display: flex;
    align-items: center;
    max-width: 180px;
    justify-content: center;
    cursor: pointer;
}

/* SECTION 3 */

#section3 h3 {
    margin: 35px 0;
}

#categories {
    display: flex;
    flex-direction: column;
}

#categories div{
    margin-bottom: 20px;
}

.categorie img {
    height: auto;
    width: 31%;
    /* background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.8) 100%); */
}

.categorie {
    position: relative;
    margin-right: 20px;
}
.categorie:hover p{
    text-decoration: underline;
}

.categorie p {
    position: absolute;
    color: white;
    text-shadow: 0 1px 2px #000000;
    z-index: 1;
    bottom: 20px;
    left: 5%;
    width: 250px;
}
