/* GENERAL */

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #eceae7;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1140px;
    width: 95%;
    background-color: white;
    box-shadow: 1px 1px 10px #cccccc,
                -1px -1px 10px #cccccc;
    position: relative;
}

.container2 {
    padding: 35px 72px;
}

h3 {
    font-size: 28px;
    font-weight: 400;
    color: #555555;
    line-height: 35px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #4a6da7;
}

li {
    list-style-type: none;
}

.bouton-general {
    color: white;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: #4a6da7;
    padding: 6px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bouton-general:hover {
    background-color: #3a5684;
}

/* HEADER */

#logo {
    position: absolute;
    top: 0;
    left: 0;
}

#header1 {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: white;
}

#header1 a {
    margin: 0 5px; 
}

#header1 a:hover {
    background-color: #dee7f1;
}

#header1 h1 {
    color: #666666;
    font-size: 23px;
    margin-left: 103px;
    font-weight: 200;
    width: 50%;
}

#rechercher {
    background-color: white;
    display: flex;
    align-items: center;
    border: solid 1px rgba(0,0,0,0.1);
    margin-left: 10px;
}

#rechercher input {
    border: none;
    height: 34px;
    width: 260px; 
    padding-left: 10px;
    font-size: 14px;;
}

#rechercher span {
    height: 34px;
    border-left: 1px solid rgba(0,0,0,0.1);
    padding: 0 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#droite {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-right: 10px;
    font-size: 85.7%;
}

.lien {
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 5px 2px;
}
.lien div {
    margin: 0 4px;
    line-height: 10px;
}

header nav ul {
    display: flex;
    align-items: center;
    font-size: 87.5%;
    color: white;
    background-color: #373433;
    height: 44px;
    padding-left: 103px;
}

header nav ul li {
    display: flex;
    align-items: center;
    margin-right: 12px;
    cursor: pointer;
    height: 100%;
    padding: 0 9px;
    line-height: 15px;
}

header nav ul li span img {
    margin-right: 8px;
}

li:hover {
    background-color: black;
}
li.active {
    background-color: black;
    border-left: 1px dotted white;
    border-right: 1px dotted white;
}

/* SECTION 1 */

#section1-background {
    background-image: url(https://assetsnffrgf-a.akamaihd.net/assets/m/502000107/univ/art/502000107_univ_pnr_lg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
    width: 100%;
}

#section1-content {
    width: 65%;
    margin-left: 50px;
    /* margin: -200px 50px; */
    color: white;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

#section1-content h2, #section1-content p{
    margin: 10px 0;
    text-shadow: 1px 1px 1px #333;
}

#section1-content h2 {
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 10px;
}

#section1-content p {
    font-weight: 100px;
    font-size: 20px;
}
#section1-content a {
    text-align: center;
    max-width: 200px;
    margin: 24px 0;
}

#section1-content-background {
    background: linear-gradient(to bottom, rgba(51,51,51,0) 0, #333 175px);
    margin-top: -200px;
}

/* SECTION 2 */

#cartes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

#cartes .carte a img {
    height: auto;
    width: 95%;
    display: block;
    margin-bottom: 10px;
}

#cartes .carte a {
    font-size: 19px;
    font-weight: 400;
    margin: 0 5px;
}
#cartes .carte a:hover {
    text-decoration: underline
}

#bible-nouveautes {
    display: flex;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 35px;
}

#bible {
    display: flex;
    padding-right: 35px;
    width: 50%;
    border-right: 1px solid #d4d4d4;
}

#bible img {
    height: 135px;
    width: auto;
}

#bible-content {
    padding-left: 18px;
}

#bible-content h4 {
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: 400;
    color: #4a6da7;
}

#bible-content p {
    font-size: 16px;
    line-height: 24px;
    color: #222222;
}

#bible-content a:hover{
    text-decoration: underline;
}

#nouveautes {
    padding-left: 35px;
    width: 50%;
}

#nouveautes h4{
    font-size: 23px;
    line-height: 29px;
    font-weight: 400;
    color: #858585;
    margin-bottom: 29px;
}

#nouveautes img {
    padding-left: 10px;
}
#nouveautes a {
    display: flex;
    align-items: center;
    max-width: 200px;
    justify-content: center;
    cursor: pointer;
}

/* SECTION 3 */

#section3 h3 {
    margin: 35px 0;
}

#categories {
    height: 350px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 30%);
    column-gap: 20px;
    row-gap: 20px;
}

.categorie {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.8) 100%); */
}
.categorie:hover p{
    text-decoration: underline;
}
.categorie-content{
    height: 90%;
    padding-left: 5%;
    display: flex;
    align-items: flex-end;
}
.categorie-content p {
    color: white;
    text-shadow: 0 1px 2px #000000;
}

#action {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #d4d4d4;
    margin-top: 40px;
    padding-bottom: 30px;
}

.proposition{
    flex-direction: column;
    width: 32%;
    text-align: center;
}
.proposition img {
    border-radius: 50%;
    width: 220px;
    height: auto;
    margin: 20px 0;
}
.proposition h4 a{
    font-size: 23px;
    font-weight: 400;
}
.proposition h4 a:hover{
    text-decoration: underline;
}
.proposition p{
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin: 20px 0;
}

/* SECTION 4 */

#section4 #title{
    display: flex;
    justify-content: space-between;
    margin: 35px 0;
}

#video-description{
    background-image: url(https://assetsnffrgf-a.akamaihd.net/assets/m/502015540/univ/art/502015540_univ_lsr_lg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
    width: auto;
    position: relative;
    margin-bottom: 25px;
}
#video-description-content{
    color: white;
    /* background: linear-gradient(to left, rgba(51,51,51,0.9), rgba(51,51,51,0) 75%); */
    width: 30%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    justify-content: center;
    margin-right: 10%;
}
#background-video-content{
    background: linear-gradient(to left, rgba(51,51,51,0.9), rgba(51,51,51,0) 100%);
    right: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}
#video-description-content h5 a{
    color: white;
    font-size: 28px;
    line-height: 35px;
    font-weight: 400;
}
#video-description-content h5:hover{
    text-decoration: underline;
}
#video-description-content p{
    font-size: 19px;
    line-height: 29px;
    padding: 20px 0;
}
#video-description-content a img{
    padding-right: 10px;
}
#video-description-content .bouton-general{
    width: 250px;
}


/* SECTION 5 */

#section5{
    margin: 35px 0;
}
#section5 h4{
    font-weight: 400;
    font-size: 41px;
    line-height: 51px;
    color: #555555;
    margin-bottom: 65px;
}

#who-are-we {
    display: flex;
    margin-bottom: 30px;
}

#description{
    width: 60%;
    margin-right: 20px;
}

#description p {
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    color: #222222;
}
#description p .blue {
    color: #4a6da7;
}
#description p .blue:hover {
    text-decoration: underline;
}

#right-menu{
    width: 35%;
}

.description-lien{
    padding: 20px 0;
    border-bottom: solid 1px #b2b0af;
    font-size: 16px;
    line-height: 24px;
}
.description-lien div{
    display: inline-block;
    height: 20px;
}
.description-lien a:hover {
    text-decoration: underline;
}

.description-lien:last-child {
    border-bottom: none;
}

#predic img{
    width: 100%;
    height: auto;
}

/* SECTION 6 */

#section6 {
    padding: 45px 40px;
    background-color: #eceae7;
    margin-top: -5px;
}

#section6 h6{
    font-size: 13px;
    line-height: 16px;
    color: #555555;
    font-weight: 400;
    margin-bottom: 30px;
}
#section6 h6 span {
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
}

#section6-content {
    display: flex;
    justify-content: space-between;
}

.section6-content-column {
    width: 13%;
}

.section6-content-column h5 {
    border-bottom: 1px dotted #999;
    margin-bottom: 10px;
}

.section6-content-column:last-child {
    width: 35%;
}
.section6-content-column:last-child h5 {
    padding: 6px 0;
    font-weight: normal;
    color: grey;
}

.section6-content-column a{
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    margin: 5px 0;
}
.section6-content-column a:hover {
    text-decoration: underline; 
}

.section6-content-column span img {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

#last-column1 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #999;
    padding-bottom: 5px;
}
#last-column1 div {
    width: 50%;
}

#last-column2{
    border-bottom: 1px dotted #999;
    padding: 5px 0;
}
#last-column2 a, #last-column3 a{
    display: flex;
    align-items: center;
}

#last-column3 {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
#last-column3 div {
    width: 50%;
}
#last-column3 img {
    margin-top: 15px;
}

/* FOOTER */

footer{
    background-color: #373433;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    height: 50px;
}
footer a{
    color: #7b9dc5;
}
footer a:hover{
    text-decoration: underline;
}
footer p, footer span {
    color: #eceae7;
    padding: 0 5px;
}